extends ../components/base/layout

block variables
  - const title = "FindEdu" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "course.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  -
    const courcesArray = {
      logo: "/img/content/card-logo-1.png",
      rating: 4.6, stars: '&#9733;&#9733;&#9733;&#9733;&#9733;',
      platform: "Sky.pro",
      name: "Backend-разработчик на Go",
      advantages: {
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true
      },
      description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. лями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. лями, личные консультации с&nbsp;наставником. После прохождения Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу",
      start: "31 декабря",
      lasting: "2 недели",
      morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      totalprice: "105 600",
      splitprice: "1 950",
      programm: [
        "Специфика текстов для интерфейса",
        "Job Stories и&nbsp;Storyframes",
        "Создание продуктовых текстов",
        "Основы UX-дизайна",
        "Основы UX-исследований",
        "Редполитика и&nbsp;tone of&nbsp;voice",
        "Метрики и&nbsp;анализ эффективности",
        "Постановка задачи и&nbsp;специфика работы с&nbsp;UX-писателем"
      ]
    }
  - const headerDirections =[{title: "Дизайн", items: ["3D анимация", "Графический дизайн", "3D MAX", "Дизайн интерьеров", "3D моделирование", "Дизайн мобильных приложений", "AdobeAfter Effects", "Motion-дизайн", "Adobe illustrator", "Скетчинг", "Adobe Photoshop", "Типографика", "Отрисовка иллюстраций", "UX/UI дизайн", "Figma", "Создание и монтаж видео", "Геймдизайн", "Веб-дизайн"]}, {title: "Программирование", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Аналитика", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Менеджмент", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Маркетинг", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Финансы", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}]
  -
    let reviewsObject = {
      1: {
        reviewUniqueNumber: 1,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "Борчашвили Бекхан",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      },
      2: {
        reviewUniqueNumber: 2,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "Борчашвили Бекхан2",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "2Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      },
      3: {
        reviewUniqueNumber: 3,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "Борчашвили Бекхан3",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "3Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      },
      4: {
        reviewUniqueNumber: 4,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "Борчашвили Бекхан4",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "4Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      },
      5: {
        reviewUniqueNumber: 5,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "Борчашвили Бекхан5",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "5Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      },
      6: {
        reviewUniqueNumber: 6,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "Борчашвили Бекхан6",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "6Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      },
      7: {
        reviewUniqueNumber: 7,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "Борчашвили Бекхан7",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "7Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      },
      8: {
        reviewUniqueNumber: 8,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "Борчашвили Бекхан8",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "8Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      },
      9: {
        reviewUniqueNumber: 9,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "Борчашвили Бекхан9",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "9Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      },
      10: {
        reviewUniqueNumber: 10,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "10Борчашвили Бекхан10",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      },
      11: {
        reviewUniqueNumber: 11,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "Борчашвили Бекхан11",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "11Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      },
      12: {
        reviewUniqueNumber: 12,
        reviewAvatar: "./img/content/review-avatar-1-image.png",
        reviewAppraisal: "&#9733;&#9733;&#9733;&#9733;&#9733;",
        reviewName: "Борчашвили Бекхан12",
        reviewOrigin: "vk.com",
        reviewDate: "17 мая 2021",
        reviewText: "12Этот дуб как будто говорил: &laquo;Весна, и&nbsp;любовь, и&nbsp;счастье! И&nbsp;как не&nbsp;надоест вам все один и&nbsp;тот&nbsp;же глупый, бессмысленный обман! Все одно и&nbsp;то&nbsp;же, и&nbsp;все обман! Нет ни&nbsp;весны, ни&nbsp;солнца, ни&nbsp;счастья. Вон смотрите, сидят задавленные мертвые ели, всегда одинокие, и&nbsp;вон я&nbsp;растопырил свои обломанные, ободранные пальцы, выросшие из&nbsp;спины, из&nbsp;боков&nbsp;&mdash; где попало. Как выросли&nbsp;&mdash; так и&nbsp;стою, и&nbsp;не&nbsp;верю вашим надеждам и&nbsp;обманам&raquo;. Князь Андрей несколько раз оглянулся на&nbsp;этот дуб, проезжая по&nbsp;лесу. Цветы и&nbsp;трава были и&nbsp;под дубом, но&nbsp;он&nbsp;все так&nbsp;же, хмурый, неподвижный, уродливый и&nbsp;упорный, стоял посреди них."
      }
    }
  -
    let courcesArraySimilar = {
      1: {
        class: "similar__item",
        logo: "/img/content/card-logo-1.png",
        rating: 4.6,
        stars: '&#9733;&#9733;&#9733;&#9733;&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на Go",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства...",
         start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ", totalprice: "105 600",
        splitprice: "1 950"
        },
      2: {
        logo: "/img/content/card-logo-1.png",
        rating: 3.6,
        stars: '&#9733;&#9733;&#9733;&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на Go2",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства...",
         start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ", totalprice: "105 600",
        splitprice: "1 950"
        },
      3: {
        logo: "/img/content/card-logo-1.png",
        rating: 2.7,
        stars: '&#9733;&#9733;&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на Go3",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства...",
         start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ", totalprice: "105 600",
        splitprice: "1 950"
        },
      4: {
        logo: "/img/content/card-logo-1.png",
        rating: 1.3,
        stars: '&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на Go4",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства...",
         start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ", totalprice: "105 600",
        splitprice: "1 950"}
      }

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +page-title("Информация о&nbsp;курсе").visually-hidden
    +course-promo(courcesArray)
    +course-info(courcesArray)
    +reviews(reviewsObject)
    +similar(courcesArraySimilar)

block modals
  +modal(data-modal="burger")
    +header(headerMods, currentUrl)
    +directions-menu(headerDirections, tag="a")(data-accordion="parent")
