extends ../components/base/layout

block variables
  - const title = "FindEdu" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "courses.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  //- - const groupData = [{inputLabel: 'Любой', inputName: 'difficult-level', inputValue: 'любой', inputChecked: true}, {inputLabel: 'Новичкам', inputName: 'difficult-level', inputValue: 'новичкам', inputChecked: true}]
  - let courcesCount = 210
  - const coursesAdvantages = [{label: "Рассрочка", name: "filter", value: "installment", image: "installment-colorless"}, {label: "Вычет_НДФЛ", name: "filter", value: "taxdeduction", image: "taxdeduction-colorless"}, {label: "Скидка", name: "filter", value: "discount", image: "discount-colorless"}, {label: "Трудоустройство", name: "filter", value: "employment", image: "employment-colorless"}]

  -
    let courcesArray = {
      1: {
        logo: "/img/content/card-logo-1.png",
        rating: 4.6, stars: '&#9733;&#9733;&#9733;&#9733;&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на&nbsp;Go",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства.",
         start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        totalprice: "105 600",
        splitprice: "1 950"},
      2: {
        logo: "/img/content/card-logo-1.png",
        rating: 3.6,
        stars: '&#9733;&#9733;&#9733;&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на&nbsp;Go2",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства.",
         start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        totalprice: "105 600",
        splitprice: "1 950"},
      3: {
        logo: "/img/content/card-logo-1.png",
        rating: 2.7,
        stars: '&#9733;&#9733;&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на&nbsp;Go3",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства.",
        start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        totalprice: "105 600",
        splitprice: "1 950"},
      4: {
        logo: "/img/content/card-logo-1.png",
        rating: 1.3,
        stars: '&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на&nbsp;Go4",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства.",
        start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        totalprice: "105 600",
        splitprice: "1 950"},
      5: {
        logo: "/img/content/card-logo-1.png",
        rating: 1.3,
        stars: '&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на&nbsp;Go5",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства.",
        start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        totalprice: "105 600",
        splitprice: "1 950"},
      6: {
        logo: "/img/content/card-logo-1.png",
        rating: 1.3,
        stars: '&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на&nbsp;Go6",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства.", start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        totalprice: "105 600",
        splitprice: "1 950"},
      7: {
        logo: "/img/content/card-logo-1.png",
        rating: 1.3,
        stars: '&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на&nbsp;Go7",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства.",
        start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        totalprice: "105 600",
        splitprice: "1 950"},
      8: {
        logo: "/img/content/card-logo-1.png",
        rating: 1.3,
        stars: '&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на&nbsp;Go8",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства.",
         start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        totalprice: "105 600",
        splitprice: "1 950"},
      9: {
        logo: "/img/content/card-logo-1.png",
        rating: 1.3,
        stars: '&#9733;',
        platform: "Skillbox",
        name: "Backend-разработчик на&nbsp;Go9",
        installment: true,
        discount: true,
        taxdeduction: true,
        employment: true,
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса вы&nbsp;будете сразу готовы к&nbsp;старту карьеры. Гарантия трудоустройства.",
         start: "31 декабря",
        lasting: "2 недели",
        morelink: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
        totalprice: "105 600",
        splitprice: "1 950"}
    }

  - const schoolsData = {1: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 2: {inputLabel: 'Нетология', inputName: 'schools', inputValue: 'Нетология', inputChecked: false}, 3: {inputLabel: 'Яндекс Практикум', inputName: 'schools', inputValue: 'Яндекс Практикум', inputChecked: false}, 4: {inputLabel: 'Skillbox', inputName: 'schools', inputValue: 'Skillbox', inputChecked: false}, 5: {inputLabel: 'Contented', inputName: 'schools', inputValue: 'Contented', inputChecked: false}, 6: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 7: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 8: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 9: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 10: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 11: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 12: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 13: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 14: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 15: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 16: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 17: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 18: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 19: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 20: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 21: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 22: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 23: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 24: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 25: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 26: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 27: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}, 28: {inputLabel: 'Techline', inputName: 'schools', inputValue: 'Techline', inputChecked: false}}

  -
    const difficultData = {
      1: {
        inputLabel: 'Любой',
        inputName: 'difficult-level',
        inputValue: 'любой',
        inputChecked: true
      },
      2: {
        inputLabel: 'Новичкам',
        inputName: 'difficult-level',
        inputValue: 'новичкам',
        inputChecked: true
      },
      3: {
        inputLabel: 'С опытом',
        inputName: 'difficult-level',
        inputValue: 'с опытом',
        inputChecked: false
      },
      4: {
        inputLabel: 'Профи',
        inputName: 'difficult-level',
        inputValue: 'профи',
        inputChecked: true
      }
    }

  -
    const additionallyData = {
      1: {
        inputLabel: 'Помощь в трудоустройстве',
        inputName: 'additionally',
        inputValue: 'Помощь в трудоустройстве',
        inputChecked: true
      },
      2: {
        inputLabel: 'Вычет 13% НДФЛ',
        inputName: 'additionally',
        inputValue: 'Вычет 13% НДФЛ',
        inputChecked: true
      },
      3: {
        inputLabel: 'Скидки',
        inputName: 'additionally',
        inputValue: 'Скидки',
        inputChecked: true
        },
      4: {
        inputLabel: 'Рассрочка',
        inputName: 'additionally',
        inputValue: 'Рассрочка',
        inputChecked: true}
      }

  -
    const documentsData = {
      1: {
        inputLabel: 'Любой',
        inputName: 'document',
        inputValue: 'любой',
        inputChecked: true
      },
      2: {
        inputLabel: 'Диплом',
        inputName: 'document',
        inputValue: 'диплом',
        inputChecked: true
      },
      3: {
        inputLabel: 'Сертификат',
        inputName: 'document',
        inputValue: 'сертификат',
        inputChecked: false
      }
    }

  - const headerDirections =[{title: "Дизайн", items: ["3D анимация", "Графический дизайн", "3D MAX", "Дизайн интерьеров", "3D моделирование", "Дизайн мобильных приложений", "AdobeAfter Effects", "Motion-дизайн", "Adobe illustrator", "Скетчинг", "Adobe Photoshop", "Типографика", "Отрисовка иллюстраций", "UX/UI дизайн", "Figma", "Создание и монтаж видео", "Геймдизайн", "Веб-дизайн"]}, {title: "Программирование", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Аналитика", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Менеджмент", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Маркетинг", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Финансы", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}]

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +page-title("Каталог курсов").visually-hidden
    +coursessearch(courcesCount, courcesArray, coursesAdvantages, schoolsData, difficultData, additionallyData, documentsData)

block modals
  +modal.filter(data-modal="filter")
    +header(headerMods, currentUrl)
    +modal-filter(schoolsData, difficultData, additionallyData, documentsData)
  +modal(data-modal="burger")
    +header(headerMods, currentUrl)
    +directions-menu(headerDirections, tag="a")(data-accordion="parent")
