extends ../components/base/layout

block variables
  - const title = "FindEdu" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const headerDirections =[{title: "Дизайн", items: ["3D анимация", "Графический дизайн", "3D MAX", "Дизайн интерьеров", "3D моделирование", "Дизайн мобильных приложений", "AdobeAfter Effects", "Motion-дизайн", "Adobe illustrator", "Скетчинг", "Adobe Photoshop", "Типографика", "Отрисовка иллюстраций", "UX/UI дизайн", "Figma", "Создание и монтаж видео", "Геймдизайн", "Веб-дизайн"]}, {title: "Программирование", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Аналитика", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Менеджмент", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Маркетинг", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}, {title: "Финансы", items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]}]
  -
    let professionsObject = {
      1: {
        name: "Дизайн",
        icon: "img/svg/profession-1-icon.svg",
        skills: ["Web-дизайн", "Дизайн интерьеров", "3D-моделирование", "Motion-дизайн", "Графический дизайн", "3D-анимация", "UX/UI дизайн", "ArchiCAD", "Геймдизайн", "Adobe After Effects"],
        modifier: "design",
        link: "#"
        },
      2: {
        name: "Программирование",
        icon: "img/svg/profession-2-icon.svg",
        skills: ["Web-разработка", "DevOps", "JavaScript-разработка", "ReactJS", "Мобильная разработка", "GIT", "Системное администрирование", "Верстка на HTML/CSS", "Unity"],
        modifier: "programming",
        link: "#"
        },
      3: {
        name: "Менеджмент",
        icon: "img/svg/profession-3-icon.svg",
        skills: ["Product-менеджмент", "Личностный рост", "Управление разработкой и IT", "AGILE", "Бренд-менеджмент", "Запуск стартапов", "Финансовая грамотность", "Бухгалтерия", "Управление в SMM", "IT-рекрутмент"],
        modifier: "management",
        link: "#"
        },
      4: {
        name: "Аналитика",
        icon: "img/svg/profession-4-icon.svg",
        skills: ["Data Science", "Продуктовая аналитика", "Web-аналитика", "Системная аналитика", "Бизнес-аналитика", "Аналитика на R", "Работа с Excel и Google таблицами", "Машинное обучение", "Нейронные сети"],
        modifier: "analytics",
        link: "#"
        },
      5: {
        name: "Маркетинг",
        icon: "img/svg/profession-5-icon.svg",
        skills: ["Web-аналитика", "SMM-продвижение", "Интернет-маркетинг", "PR-менеджмент", "SEO-продвижение", "Копирайтинг", "Контент-маркетинг", "SERM и репутация", "Маркетинговая аналитика", "Google Ads"],
        modifier: "marketing",
        link: "#"
        },
      6: {
        name: "Финансы",
        icon: "img/svg/profession-6-icon.svg",
        skills: ["Web-аналитика", "SMM-продвижение", "Интернет-маркетинг", "PR-менеджмент", "SEO-продвижение", "Копирайтинг", "Контент-маркетинг", "SERM и репутация"],
        modifier: "finance",
        link: "#"
        },
      }
  -
    let achievementsTabsControlsContent = {
      1: {
        icon: "advantage-1-icon",
        title: "Довольные пользователи",
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, наставником. После прохождения курса вы&nbsp;будете"
        },
      2: {
        icon: "advantage-2-icon",
        title: "Образовательные курсы",
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, наставником. После прохождения курса вы&nbsp;будете"
        },
      3: {
        icon: "advantage-3-icon",
        title: "Менторы из больших компаний",
        description: "Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, наставником. После прохождения курса вы&nbsp;будете"
        }
      }
  -
    let achievementsTabsContent = {
      1: {
        imageName: "advantage-1",
        title: "300+ довольных пользователей",
        description: "Дополнительно в&nbsp;этом методе есть кнопка объединить по&nbsp;строкам. С&nbsp;помощью неё можно объединить ячейки выбранного диапазона построчно"
        },
      2: {
        imageName: "advantage-2",
        title: "1000+ образовательных курсов",
        description: "Дополнительно в&nbsp;этом методе есть кнопка объединить по&nbsp;строкам. С&nbsp;помощью неё можно объединить ячейки выбранного диапазона построчно"
        },
      3: {
        imageName: "advantage-3",
        title: "300+ довольных пользователей",
        description: "Дополнительно в&nbsp;этом методе есть кнопка объединить по&nbsp;строкам. С&nbsp;помощью неё можно объединить ячейки выбранного диапазона построчно"
        }
      }
  -
    let postsObject = {
      1: {
          modifier: "design",
          profession: "Дизайн",
          link: "designposts/design-post-number1.com",
          imageName: "post-1-image",
          title: "&laquo;Делаем ставку на&nbsp;те&nbsp;направления, где мы&nbsp;можем развивать видение и&nbsp;быть востребованными&raquo;",
          description: "Дизайнеры Алина Родионова и&nbsp;Ольга Пожарова о&nbsp;поддержке внутри команды, образовании и&nbsp;новых нишах для дизайнеров."
          },
      2: {
          modifier: "programming",
          profession: "Программирование",
          link: "programmingposts/programming-post-number1.com",
          imageName: "post-2-image",
          title: "Что такое фреймворк и&nbsp;как выбрать фреймворк для фронтенда: советы бывалых",
          description: "Опытные разработчики из&nbsp;продуктовых и&nbsp;аутсорс-компаний рассказали, по&nbsp;каким принципам выбирают фреймворки для фронтенда."
          },
      3: {
          modifier: "analytics",
          profession: "Аналитика",
          link: "analyticsposts/analytics-post-number1.com",
          imageName: "post-3-image",
          title: "Что такое UX/UI-дизайн и&nbsp;как попасть в&nbsp;эту профессию",
          description: "Рассказываем, кто такой UX/UI-дизайнер, чем он&nbsp;занимается и&nbsp;какие ему нужны знания."
        }
      }


block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    //- +intro()
    +page-title("FindEdu&nbsp;&mdash; найди свою профессию.").visually-hidden
    +hero()
    +professions(professionsObject)
    +achievements(achievementsTabsControlsContent, achievementsTabsContent)
    +blog(postsObject)

block modals
  +modal(data-modal="burger")
    +header(headerMods, currentUrl)
    +directions-menu(headerDirections, tag="a")(data-accordion="parent")
