*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
}

html {
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  background-color: #0A0A0A;
  color: #ffffff;
  font-family: "Golos Text", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

button:hover,
select:hover,
a:hover {
  cursor: pointer;
  outline: 1px solid #00BDDD;
}

input:hover,
textarea:hover {
  outline: 1px solid #00BDDD;
  cursor: text;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color: inherit;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #ffffff;
          box-shadow: inset 0 0 0 1000px #ffffff;
  -webkit-text-fill-color: #000000;
}

input,
textarea {
  border-radius: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
}
input:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

select {
  border-radius: 0;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
          appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

select,
textarea,
input:matches([type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url]) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.button:hover {
  color: #00BDDD;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #00BDDD;
}

.button-icon:hover {
  outline: none !important;
}

.button.active {
  color: #00BDDD;
  border-color: rgba(45, 202, 255, 0.25);
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(45, 202, 255, 0.1) 0%, rgba(125, 222, 255, 0.025) 73.82%);
}

*:focus-visible {
  outline: 1px solid #00BDDD;
}

.app {
  background-color: #0A0A0A;
  height: 100%;
}

.app__dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 64px auto;
  grid-template-columns: 64px auto;
  height: 100%;
}
@media (max-width: 991px) {
  .app__dashboard {
    -ms-grid-columns: 52px auto;
    grid-template-columns: 52px auto;
  }
}
@media (max-width: 767px) {
  .app__dashboard {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.app__workspace-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100vw - 350px - 64px - 24px) 350px;
  grid-template-columns: calc(100vw - 350px - 64px - 24px) 350px;
  gap: 8px;
  padding: 8px;
  background-color: #0A0A0A;
}
@media (max-width: 1199px) {
  .app__workspace-main {
    -ms-grid-columns: calc(100vw - 300px - 64px - 24px) 300px;
    grid-template-columns: calc(100vw - 300px - 64px - 24px) 300px;
  }
}
@media (max-width: 991px) {
  .app__workspace-main {
    -ms-grid-columns: calc(100vw - 52px - 16px);
    grid-template-columns: calc(100vw - 52px - 16px);
  }
}
@media (max-width: 767px) {
  .app__workspace-main {
    -ms-grid-columns: calc(100vw - 16px);
    grid-template-columns: calc(100vw - 16px);
  }
}

@media (max-width: 991px) {
  .app__trade {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.app__time-sales {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.appnavigation {
  background-color: #050505;
  width: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 8px;
}
@media (max-width: 991px) {
  .appnavigation {
    width: 52px;
  }
}
@media (max-width: 767px) {
  .appnavigation {
    width: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.appnavigation__logo {
  color: #ffffff;
  text-align: center;
}

.appnavigation__tools {
  padding: 83px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media (max-width: 767px) {
  .appnavigation__tools {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    gap: 20px;
    display: contents;
  }
}

.appnavigation__services {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media (max-width: 767px) {
  .appnavigation__services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: unset;
    margin-left: auto;
    gap: 20px;
    display: contents;
  }
}

.appnavigation__button {
  border: transparent;
  background-color: transparent;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}
@media (max-width: 991px) {
  .appnavigation__button {
    width: 36px;
    height: 36px;
  }
}

.appnavigation__button--active {
  color: #00BDDD;
  border-color: rgba(45, 202, 255, 0.25);
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(45, 202, 255, 0.1) 0%, rgba(125, 222, 255, 0.025) 73.82%);
}

.appheader {
  background-color: #050505;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  border-bottom: 1px solid #1F1F1F;
}
@media (max-width: 991px) {
  .appheader {
    padding: 14px 8px;
  }
}
@media (max-width: 991px) {
  .appheader {
    padding: 0% 8px;
  }
}

.appheader__user-info {
  width: 100%;
}

.appheader__search {
  background-color: #191919;
  padding: 7px 12px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 767px) {
  .appheader__search {
    display: none;
  }
}

.appheader__search-input {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.user-info__main::after {
  display: block;
  position: absolute;
  content: "";
  background-color: #999999;
  width: 1px;
  height: 16px;
  right: -16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.user-info__account-button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
}

.user-info__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.user-info__name {
  font-size: 14px;
  line-height: 18px;
}

.user-info__account-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 6px;
}

.user-info__account-number {
  font-size: 12px;
  line-height: 18px;
  color: #999999;
}

.user-info__subscribe {
  display: block;
  margin-left: 32px;
  width: 16px;
  height: 16px;
  padding: 0;
  margin-left: 40px;
  margin-top: 4px;
  border: none;
  background: transparent;
  color: #999999;
  cursor: pointer;
}

.user-info__subscribe:hover {
  color: #00BDDD;
}

.user-info__balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-left: 24px;
}
@media (max-width: 767px) {
  .user-info__balance {
    margin-left: auto;
  }
}
@media (max-width: 500px) {
  .user-info__balance {
    display: none;
  }
}

.user-info__balance-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-info__balance-title {
  font-size: 12px;
  line-height: 24px;
  color: #999999;
}

.main-window {
  background-color: #0A0A0A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-window__nav {
  padding: 11px 34px 11px 40px;
  background-color: #1F1F1F;
  color: #999999;
  border-radius: 6px 6px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1199px) {
  .main-window__nav {
    padding: 11px 24px;
  }
}
@media (max-width: 991px) {
  .main-window__nav {
    padding: 8px 16px;
  }
}
@media (max-width: 767px) {
  .main-window__nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    padding: 8px 0;
  }
}

.main-window__nav-button {
  padding: 8px;
  border: transparent;
  background-color: transparent;
  border-radius: 1000px;
  border-width: 2px;
  border-style: solid;
  font-size: 14px;
  line-height: 18px;
}

.main-window__nav-button--active {
  color: #00BDDD;
  border-color: rgba(45, 202, 255, 0.25);
  background: radial-gradient(50% 50% at 50% 50%, rgba(45, 202, 255, 0.1) 0%, rgba(125, 222, 255, 0.025) 73.82%);
  position: relative;
}

.main-window__nav-button--active::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -12px;
  left: 0;
  background: #00BDDD;
}
@media (max-width: 991px) {
  .main-window__nav-button--active::after {
    bottom: -10px;
  }
}
@media (max-width: 767px) {
  .main-window__nav-button--active::after {
    display: none;
  }
}

.main-window__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-window__footer {
  padding: 14px 0 30px;
}

.right-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
@media (max-width: 991px) {
  .right-sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 767px) {
  .right-sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.trade {
  background-color: #050505;
  color: #999999;
}

.trade__header {
  background-color: #1F1F1F;
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 6px 6px 0 0;
}

.trade__header-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.trade__action-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trade__action-tab {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 17px 16px;
  color: #999999;
  border-bottom: 1px solid #999999;
}

.trade__action-tab--active {
  color: #0FEDBE;
  border-color: #0FEDBE;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32.15%, rgba(9, 135, 108, 0.1)), to(rgba(15, 237, 190, 0.25)));
  background: linear-gradient(180deg, rgba(9, 135, 108, 0.1) 32.15%, rgba(15, 237, 190, 0.25) 100%);
}

.trade__main {
  padding: 16px 24px;
}

.trade__form {
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.trade__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.trade__form-group select,
.trade__form-group input {
  padding: 11px 12px;
  border-radius: 6px;
  background-color: #191919;
  color: #ffffff;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  border: none;
}

.trade__form-group--stop-price {
  gap: 6px;
}

.trade__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M0 0l4 5 4-5H0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 8px 4px;
  font-size: 14px;
  line-height: 18px;
}

.trade__quantity-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.trade__quantity-button {
  padding: 9px 23px;
  max-width: 61.5px;
  background-color: #1F1F1F;
  border-radius: 1000px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trade__quantity-button--50 {
  display: block;
}
@media (max-width: 1199px) {
  .trade__quantity-button--50 {
    display: none;
  }
}
@media (max-width: 991px) {
  .trade__quantity-button--50 {
    display: block;
  }
}
@media (max-width: 500px) {
  .trade__quantity-button--50 {
    display: none;
  }
}

.trade__quantity-input::-webkit-inner-spin-button,
.trade__quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.trade__quantity-input {
  -moz-appearance: textfield;
  -webkit-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='10' viewBox='0 0 8 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M0 3l4-3 4 3H0zM0 7l4 3 4-3H0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 8px 10px;
}

.trade__toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.trade__toggle-input {
  display: none;
}

.trade__toggle-slider {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: #00BDDD;
  border-radius: 999px;
  margin-right: 8px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.trade__toggle-slider::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: #050505;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.trade__toggle-input:checked + .trade__toggle-slider {
  background-color: #0FEDBE;
}

.trade__toggle-input:checked + .trade__toggle-slider::before {
  -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
          transform: translateX(16px);
}

.trade__toggle-label {
  color: #ffffff;
}

.trade__input-description {
  margin: 0;
}

.trade__input--price {
  padding-left: 35px !important;
}

.trade__input-wrapper {
  position: relative;
}

.trade__input-wrapper::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 24px;
  background-image: url("../img/dollar-white-icon.svg");
  background-repeat: no-repeat;
  top: 12px;
  left: 12px;
}

.trade__dashed-line {
  border-top: 1px dashed #444;
  height: 1px;
  margin: 2px 0;
  width: 350px;
  -webkit-transform: translateX(-24px);
      -ms-transform: translateX(-24px);
          transform: translateX(-24px);
}
@media (max-width: 1199px) {
  .trade__dashed-line {
    width: 300px;
  }
}
@media (max-width: 991px) {
  .trade__dashed-line {
    display: none;
  }
}

.trade__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.trade__result-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trade__result-row-value {
  color: #ffffff;
}

.trade__form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}

.trade__submit-button {
  background-color: #0FEDBE;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  color: #050505;
}

.trade__disclaimer-link {
  color: #ffffff;
}

.tag {
  font-size: 12px;
  line-height: 18px;
  border: 1px solid #00BDDD;
  border-radius: 1000px;
  padding: 1px 4px;
}

.time-sales__header {
  background-color: #1F1F1F;
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 6px 6px 0 0;
}

.time-sales__header-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.time-sales__table-wrapper {
  padding: 13px 22px 5px;
  font-size: 14px;
  line-height: 18px;
}

.time-sales__table {
  color: #ffffff;
  width: 100%;
}

.time-sales__table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}

.time-sales__table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company-info {
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.company-info__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}

.company-info__abbr {
  font-size: 20px;
  line-height: 24px;
}

.company-info__name {
  font-size: 14px;
  line-height: 18px;
}

.company-info__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.company-info__action-button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-info__action-button:hover,
.company-info__action-button:focus-visible {
  border: 1px solid #00BDDD;
  color: #00BDDD;
}

.company-info__main {
  color: #0FEDBE;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.company-info__current-value {
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.company-info__extra-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.company-info__footer {
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.company-info__footer-title {
  color: #999999;
}

.company-info__footer-value {
  color: #F63C6B;
}

.company-info__footer-date {
  color: #ffffff;
  margin-left: 16px;
  position: relative;
}

.company-info__footer-date::after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #999999;
  left: -8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.company-stats {
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1199px) {
  .company-stats {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.company-stats__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 267px;
}
@media (max-width: 1199px) {
  .company-stats__column {
    max-width: unset;
  }
}

.company-stats__row {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company-stats__row--link .company-stats__row-title {
  color: #ffffff;
}

.company-stats__row-value {
  color: #ffffff;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.tab__header {
  padding: 10px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1199px) {
  .tab__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 991px) {
  .tab__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 8px 16px;
  }
}
@media (max-width: 767px) {
  .tab__header {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8px 0;
  }
}

.tab__header-item--stats {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tab__chart-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  color: #ffffff;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .tab__chart-stats {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

.tab__chart-stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  margin: 0;
}

.tab__chart-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .tab__chart-actions {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (24px)[8];
    grid-template-columns: repeat(8, 24px);
  }
}

.tab__chart-actions--small {
  gap: 6px;
}

.tab__chart-action-button {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1F1F1F;
  border-radius: 2px;
  color: #ffffff;
}

.tab__chart-action-button--small {
  width: 20px;
  height: 20px;
}

.tab__chart-action-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .tab__chart-action-values {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
}

.tab__body {
  position: relative;
}

.tab__chart-header {
  position: absolute;
  top: 0;
  left: 24px;
  z-index: 2;
  background-color: transparent;
}
@media (max-width: 767px) {
  .tab__chart-header {
    position: static;
  }
}

.tab__chart--main {
  margin-bottom: 22px;
}

.timeframe {
  padding: 0 40px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (max-width: 1199px) {
  .timeframe {
    padding: 11px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.timeframe__label {
  color: #999999;
}

.timeframe__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (max-width: 991px) {
  .timeframe__buttons-wrapper {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .timeframe__buttons-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}

.timeframe__button {
  color: #ffffff;
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 1199px) {
  .timeframe__button {
    padding: 14px 14px 14px 0;
  }
}

.red-text {
  color: #F63C6B;
}

.green-text {
  color: #0FEDBE;
}

.perple-text {
  color: #8085FF;
}

.yellow-text {
  color: #FFAA2B;
}

.blue-text {
  color: #00BDDD;
}

.white-text {
  color: #ffffff;
}