mixin achievements(achievementsTabsControlsContent)
  section.achievements
    .container
      .achievements__wrapper
        header.achievements__header
          h2.visually-hidden Наши преимущества и достижения
          p.achievements__title Агрегируем курсы по самым актуальным темам для новичков и практикующих специалистов.
        .achievements__content
          +achievements-tabs(achievementsTabsControlsContent,achievementsTabsContent)
