mixin filter(schoolsData, difficultData, additionallyData, documentsData)
  .filter
    form
      .filter__options-wrapper
        +range-slider({title: "Стоимость курса", minRange: "0", maxRange: "225000", minValue: "0", maxValue: "87000"}).filter__range-slider
        +checkbox({title: "Школы", type: "buttons", data: schoolsData}).filter__checkbox
        +checkbox({title: "Дополнительно", data: additionallyData}).filter__checkbox
        +checkbox({title: "Уровень сложности", data: difficultData}).filter__checkbox
        +checkbox({title: "Выдается документ", data: documentsData}).filter__checkbox
        +range-slider({title: "Продолжительность (от 1 до 24 месяцев)", minRange: "1", maxRange: "31", minValue: "1", maxValue: "18"}).filter__range-slider
      .filter__btn-wrapper
        +btn({text: "Очистить", type: "reset"})(data-reset).btn--reset.filter__btn-reset
