mixin professions(data)
  section.professions
    .container
      .professions__wrapper
        header.professions__header
          h2.visually-hidden Направления подготовки
          p.professions__pseudo-title
            | Выбери направление
        +professions-list(data).professions__card-list
        //- +professions-list-alternative()
