mixin reviews(data)
  section.reviews
    .container
      .reviews__wrapper
        .reviews__header
          h2.reviews__main-title Отзывы
          span #{Object.keys(data).length}
        .reviews__swiper.swiper
          ul.reviews__list.reviews__swiper-wrapper.swiper-wrapper
            each value in data
              li.reviews__list-item.reviews__list-item--unshowed.reviews__slide.swiper-slide
                +review(value)
        button.reviews__show-more-button(type=button)
          | Загрузить ещё
          svg(width="25" height="13" viewBox="0 0 25 13" xmlns="http://www.w3.org/2000/svg")
            use(xlink:href!="./img/sprite.svg#arrow-down")
        .reviews__swiper-buttons-container.swiper-buttons-container
          .swiper-button-prev.reviews__swiper-button.reviews__swiper-button--prev
          .swiper-button-next.reviews__swiper-button.reviews__swiper-button--next


