.achievements__container {
  padding-bottom: 120px;

  @include vp-1199 {
    padding-bottom: 99px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.achievements__content {
  padding: 92px 106px 56px 126px;
  background-color: $color-cerulean-blue;
  border-radius: 20px;

  @include vp-1199 {
    padding: 62px 50px 41px 60px;
  }

  @include vp-767 {
    padding: 42px 20px 40px 30px;
  }
}

.achievements__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 54px 52px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    gap: 42px 52px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
}

.achievements__item {
  display: flex;
  gap: 37px;
  border: 1px solid $color-default-white;
  border-radius: 16px;
  padding: 29px 29px 29px 60px;
  color: $color-default-white;
  position: relative;

  @include vp-1199 {
    min-width: 263px;
    padding: 31px 28px 25px 28px;
    flex-direction: column;
    gap: 6px;
  }

  @include vp-767 {
    min-width: unset;
    padding: 19px 50px 21px 19px;
  }

  span:first-of-type {
    display: block;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    white-space: nowrap;

    @include vp-1199 {
      font-size: 20px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 20px;
    }

    br {
      @include vp-767 {
        display: none;
      }
    }
  }

  span:last-of-type {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    top: -23px;
    left: -21px;
    background-color: #316dc2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    width: fit-content;

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.achievements__item:nth-child(2n) {
  gap: 22px;

  @include vp-1199 {
    gap: 6px;
  }
}
