.btn {
  display: inline-flex;
  padding: 6px 29px;
  height: fit-content;

  color: $color-default-white;

  background-color: $color-royal-blue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-cerise;
  }

  &--reset {
    padding: 9px 34px;
    color: $color-maire;
    background-color: $color-magnolia;
    border: 1px solid $color-maire;
  }

  &--search {
    padding: 9px 44px;
    color: #2c2a2a;
    background-color: $color-magnolia;
    border: 1px solid #eceaea;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn:hover {
  color: $color-default-white;
  opacity: 1;

  background-color: $color-royal-blue;
  box-shadow: 0 20px 40px -10px rgba(72, 109, 216, 0.6);
}
