.btn {
  display: inline-flex;
  padding: 6px 29px;
  height: fit-content;

  color: $color-default-white;

  background-color: $color-royal-blue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-cerise;
  }

  &--reset {
    padding: 9px 34px;
    color: $color-maire;
    background-color: $color-magnolia;
    border: 1px solid $color-whisper;
  }

  &--search {
    padding: 9px 44px;
    color: $color-night-rider;
    background-color: $color-magnolia;
    border: 1px solid $color-maire;
  }

  &--search.btn:hover {
    @include vp-767 {
      background-color: $color-magnolia;
      color: $color-night-rider;
      border: 1px solid $color-maire;
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;

    @include vp-767 {
      opacity: 1;
    }
  }
}

.btn.focus-visible {
  outline: 2px solid $color-black;
}

.btn:hover {
  color: $color-default-white;
  opacity: 1;

  background-color: $color-royal-blue;
  border-color: $color-transparent;
  box-shadow: 0 20px 40px -10px rgba($color-royal-blue, 0.6);

  @include vp-767 {
    cursor: initial;
    opacity: 1;
    box-shadow: none;
  }
}
