.course-advantages {
  margin: 0;
  padding: 0;
  padding-left: 11px;
  list-style-type: none;

  @include vp-1499 {
    padding-left: 0;
  }

  @include vp-1023 {
    padding-left: 9px;
  }

  @include vp-767 {
    padding-left: 0;
  }

  &__item {
    position: relative;
    font-size: 14px;

    @include vp-849 {
      font-size: 12.5px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__item::before {
    display: block;
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);

    @include vp-767 {
      display: none;
    }
  }

  &__item--installment {
    color: $color-havelock-blue;
  }

  &__item--installment::before {
    background-color: $color-havelock-blue;
  }

  &__item--discount {
    color: $color-heliotrope;
  }

  &__item--discount::before {
    background-color: $color-heliotrope;
  }

  &__item--taxdeduction {
    color: $color-citron;
  }

  &__item--taxdeduction::before {
    background-color: $color-citron;
  }

  &__item--employment {
    color: $color-tangerine;
  }

  &__item--employment::before {
    background-color: $color-tangerine;
  }
}

