.directions-menu {
  position: relative;
  margin: 0;
  padding: 0;

  .list__item {
    line-height: 19px;
    font-weight: 500;
    color: $color-silver-2;
    list-style: none;
  }

  &__list {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 100%;
    border-radius: 26px;
    background-color: $color-default-white;

    @include vp-767 {
      background-color: $color-magnolia;
    }

    a:hover {
      color: $color-royal-blue;
    }
  }

  &__list.is-active {
    display: grid;
  }

  &__item.accordion__element {
    position: relative;
    margin: 0;
    padding: 31px 35px 31px 0;
    list-style: none;
    user-select: none;

    @include vp-1499 {
      justify-self: start;
    }

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 22px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 9px solid #bababa;

      margin-left: unset;
      clip-path: none;
      background-color: unset;

      @include vp-1919 {
        right: 0;
      }

      @include vp-767 {
        top: 8px;
        right: 4px;
        border-left: 4px solid transparent;
        border-right: 5px solid transparent;
      }
    }
  }

  &__item:hover,
  &__item.is-active {
    color: $color-royal-blue;
    cursor: pointer;
    transition: $trans-default;

    @include vp-767 {
      cursor: initial;
      transition: none;
      color: $color-default-black;
    }

    &::after {
      border-top: none;
      border-bottom: 9px solid $color-royal-blue;
      rotate: none;
      transition: $trans-default;

      @include vp-767 {
        // border-bottom: 6px solid $color-royal-blue;
        border-bottom: none;
        border-top: 9px solid #bababa;
        transition: none;
      }
    }
  }

  &__item [data-accordion="content"]:has(.focus-visible),
  &__item.focus-visible [data-accordion="content"],
  &__item:hover [data-accordion="content"],
  &__item.is-active [data-accordion="content"] {
    display: grid;
    max-height: initial;
    padding: 48px 61px 26px;
    border: 1px solid $color-white-smoke-2;
    grid-template-columns: repeat(2, max-content);
    column-gap: 161px;
    box-shadow: 0 4px 80px 0 rgba($color: $color-black, $alpha: 0.05);

    @include vp-1023 {
      padding: 51px 45px 26px;
    }

    @include vp-767 {
      display: block;
      max-height: 0;
      grid-template-columns: initial;
      border: none;
      padding: 0;
      box-shadow: none;
    }
  }

  &__item:nth-child(6n).focus-visible,
  &__item:nth-child(6n):hover,
  &__item:nth-child(6n).is-active {
    .directions-menu__list {
      left: initial;
      right: 0;
    }
  }

  &__item:nth-child(6n) .directions-menu__list:has(.focus-visible) {
    left: initial;
    right: 0;
  }

  &__item:nth-child(5n).focus-visible,
  &__item:nth-child(5n):hover,
  &__item:nth-child(5n).is-active {
    .directions-menu__list {
      left: initial;
      right: 0;

      @include vp-1499 {
        left: 0;
        right: initial;
      }
    }
  }

  &__item:nth-child(5n) .directions-menu__list:has(.focus-visible) {
    left: initial;
    right: 0;

    @include vp-1499 {
      left: 0;
      right: initial;
    }
  }

  &__item:nth-child(3n).focus-visible,
  &__item:nth-child(3n):hover,
  &__item:nth-child(3n).is-active {
    .directions-menu__list {
      @include vp-1499 {
        left: initial;
        right: 0;
      }
    }
  }

  &__item:nth-child(3n) .directions-menu__list:has(.focus-visible) {
    @include vp-1499 {
      left: initial;
      right: 0;
    }
  }

  &__item:nth-child(3n+2).focus-visible,
  &__item:nth-child(3n+2):hover,
  &__item:nth-child(3n+2).is-active {
    .directions-menu__list {
      @include vp-1023 {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__item:nth-child(3n+2) .directions-menu__list:has(.focus-visible) {
    @include vp-1023 {
      left: 50%;
      transform: translateX(-50%);
    }
  }


  &__item-button {
    display: none;
  }
}
