.filter {
  @include vp-767 {
    display: none;
  }

  &__options-wrapper {
    margin-bottom: 20px;
    padding: 48px 18px 41px 32px;
    background-color: $color-magnolia;
    border-radius: 30px;
    border: 1px solid $color-white-smoke;

    @include vp-1299 {
      padding: 30px 20px;
    }

    @include vp-1023 {
      padding: 20px 15px;
    }
  }

  &__range-slider {
    margin-bottom: 82px;
  }

  &__checkbox {
    margin-bottom: 82px;
  }

  &__options-wrapper > div:not(:last-child) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -41px;
      width: 100%;
      height: 1px;
      background-color: $color-whisper;
    }
  }

  &__options-wrapper > div:last-child {
    margin-bottom: 20px;
  }

  &__btn-wrapper {
    text-align: center;
  }
}
