.footer {
  padding: 80px 0 298px;

  background-color: $color-nero;
  border-radius: 0 0 55px 55px;

  @include vp-1023 {
    padding: 40px 0 150px;
  }

  @include vp-767 {
    padding: 0;
    border-radius: 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 18% 82%;
    column-gap: 94px;

    @include vp-1919 {
      column-gap: 10px;
    }

    @include vp-1023 {
      column-gap: 20px;
    }

    @include vp-767 {
      display: block;
    }
  }

  &__nav-list {
    display: grid;
    grid-template-columns: 15% 25% 30%;
    margin: 0;
    padding: 0;
    column-gap: 94px;

    @include vp-1919 {
      justify-content: center;
    }

    @include vp-1499 {
      grid-template-columns: 25% 30% 30%;
      column-gap: 15px;
    }

    @include vp-1023 {
      grid-template-columns: 30% 30% 30%;
      column-gap: 10px;
    }

    @include vp-767 {
      grid-template-columns: auto;
      justify-content: start;
    }
  }

  &__nav-logo {
    position: relative;
    max-width: 226px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;

    @include vp-767 {
      max-width: 100%;
      padding: 28px 0;
      gap: 24px;
    }

    &::after {
      @include vp-767 {
        position: absolute;
        content: "";
        bottom: 0;
        left: -45px;
        width: calc((1 + (280/320)) * 100%);
        height: 1px;
        background-color: #504f4f;

        display: none;
      }
    }
  }

  &__title {
    min-height: 48px;
    display: block;
    margin: 0 0 29px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: $color-default-white;

    @include vp-767 {
      min-height: initial;
      margin: 0 0 23px;
    }
  }

  &__logo {
    display: inline-flex;
    gap: 9px;
    align-items: center;
    margin: 2px 0 0;

    @include vp-767 {
      gap: 5px;
    }

    &:hover {
      opacity: 0.8;
      transition: $trans-default;

      @include vp-767 {
        opacity: 1;
        cursor: initial;
        transition: none;
      }
    }
  }

  &__logo-icon {
    color: $color-default-white;

    @include vp-767 {
      width: 23px;
      height: 27px;
    }
  }

  &__logo-text {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: $color-default-white;

    @include vp-767 {
      margin-top: 2px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 600;
    }
  }

  &__privacy-link {
    display: inline-flex;
    margin-left: 7px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: $color-dim-gray;

    &:hover {
      opacity: 0.8;
      transition: $trans-default;

      @include vp-767 {
        opacity: 1;
        cursor: initial;
        transition: none;
      }
    }

    @include vp-1023 {
      font-size: $fz-default;
    }

    @include vp-767 {
      margin-left: 0;
      line-height: 26px;
    }
  }

  &__nav-item {
    margin-top: 11px;
    list-style: none;

    @include vp-767 {
      margin-top: 0;
      padding: 28px 0;
    }

    &:last-child {
      margin-left: 44px;

      @include vp-1919 {
        margin-left: 0;
      }
    }

    &:not(:first-child) {
      @include vp-767 {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 26px;

    @include vp-767 {
      gap: 18px;
    }

    a:hover {
      color: $color-default-white;

      @include vp-767 {
        opacity: 1;
        cursor: initial;
        color: $color-default-black;
      }
    }

    .list__item {
      margin: 0;
    }

    .list__item:last-child {
      margin: 0;
    }
  }

  &__link {
    padding: 4px 0;
    line-height: 26px;
    color: $color-dim-gray;

    &:hover {
      opacity: 0.8;
      transition: $trans-default;
    }
  }
}
