.hero {
  &__wrapper {
    display: flex;
    justify-content: center;
    padding-right: 36px;

    @include vp-1499 {
      padding-right: 0;
      align-items: center;
    }

    @include vp-767 {
      padding-top: 60px;
      padding-bottom: 65px;
    }
  }

  &__text-wrapper {
    max-width: 668px;
    padding-top: 166px;

    @include vp-1499 {
      padding-top: 0;
    }
  }

  &__pseudo-header-wrapper {
    p {
      font-size: 50px;
      line-height: 61px;
      font-weight: 900;
      color: $color-seal-brown;

      margin: 0;
      margin-bottom: 32px;

      @include vp-1299 {
        font-size: 45px;
      }

      @include vp-1023 {
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 25px;
      }

      @include vp-767 {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 33px;
        max-width: 600px;
      }
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.43em;
    color: $color-nobel;
    margin-bottom: 47px;
    max-width: 463px;

    @include vp-1023 {
      font-size: 15px;
      line-height: 1.33em;
      margin-bottom: 35px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 1.43em;
      margin-bottom: 26px;
    }

    p {
      margin-top: 0;
      margin-bottom: 20px;

      @include vp-1023 {
        margin-bottom: 15px;
      }
    }
  }

  &__compare-button {
    padding: 16px 48px 17px 60px;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;

    @include vp-1023 {
      padding: 16px 40px 17px 50px;
    }

    @include vp-767 {
      padding: 8px 19px 8px 16px;
      font-size: 14px;
      border-radius: 12px;
      gap: 13px;
    }
  }

  &__button-icon-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-cornflower-blue;
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-1023 {
      width: 35px;
      height: 35px;
    }

    @include vp-767 {
      width: 29px;
      height: 29px;
    }

    svg {
      @include vp-1023 {
        width: 15px;
        height: 15px;
      }

      @include vp-767 {
        width: 12px;
        height: 12px;
      }
    }
  }

  &__images-wrapper {
    min-width: 500px;
    position: relative;
    top: -31px;

    @include vp-1299 {
      min-width: 450px;
    }

    @include vp-1023 {
      min-width: 400px;
    }

    @include vp-767 {
      display: none;
    }

    .hero__image-wrapper:last-child {
      position: relative;
      top: -90px;
      left: 51px;
    }

    img {
      display: block;
      max-width: unset;
    }
  }
}
