.professions {
  overflow: hidden;

  .swiper {
    overflow: visible;
  }

  &__wrapper {
    padding-bottom: 303px;

    @include vp-767 {
      padding-top: 54px;
      padding-bottom: 100px;
    }
  }

  &__pseudo-title {
    margin: 0;
    margin-bottom: 55px;

    font-size: 40px;
    color: $color-night-rider;
    font-weight: 700;
    line-height: 1.2em;

    @include vp-1023 {
      font-size: 32px;
    }

    @include vp-767 {
      font-size: 21px;
      text-align: start;
      margin-bottom: 29px;
    }
  }

  &__card-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 47px;

    @include vp-1299 {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-767 {
      display: flex;
      gap: 0;
    }
  }

  &__swiper-wrapper {
    height: fit-content;
  }

  &__slide {
    @include vp-767 {
      height: auto;
    }

    a {
      display: block;
      height: 100%;
    }

    .profession-card {
      height: 100%;
      min-height: 425px;

      @include vp-767 {
        min-height: unset;
      }
    }
  }

  &__swiper-buttons-container {
    @include vp-767 {
      bottom: -80px;
    }
  }
}
