.reviews {
  @include vp-767 {
    overflow: hidden;
  }

  &__wrapper {
    border-bottom: 1px solid #bfbfbf;
    position: relative;

    @include vp-767 {
      padding-top: 63px;
      padding-bottom: 58px;
    }
  }

  &__header {
    display: flex;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;

    @include vp-767 {
      margin-bottom: 18px;
    }

    span {
      margin-left: 15px;
      color: #9d9d9d;

      @include vp-767 {
        margin-left: 7px;
        font-size: 18px;
      }
    }
  }

  &__main-title {
    color: #171716;
    margin: 0;

    @include vp-767 {
      font-size: 18px;
    }
  }

  &__swiper {
    @include vp-767 {
      overflow: visible;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-bottom: 46px;

    @include vp-767 {
      flex-direction: row;
      gap: unset;
    }
  }

  &__list-item {
    @include vp-767 {
      width: 87.15% !important;
    }
  }

  &__list-item--unshowed {
    display: none;
  }

  &__show-more-button {
    background-color: #f8f7fc;
    padding: 20px 25px 20px 36px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 47px;
    border: none;
    border-radius: 11px;
    cursor: pointer;

    position: relative;

    svg {
      margin-left: 5px;
    }
  }

  &__show-more-button:hover {
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.6);
  }

  &__show-more-button--unshowed {
    display: none;
  }

  &__swiper-buttons-container {
    gap: 66px;

    @include vp-767 {
      bottom: 42px;
    }
  }

  &__swiper-buttons-container--unshowed {
    display: none;
  }

  &__swiper-button {
    width: 37px;
    height: 37px;
  }
}
