.school-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -4px;

  &__wrapper {
    color: $color-turbo;
    font-weight: 500;
  }

  &__title {
    font-weight: 500;
    margin-top: -4px;

    @include vp-767 {
      margin-top: -7px;
      font-size: 12px;
    }
  }

  &__stars {
    font-size: 22px;

    @include vp-767 {
      font-size: 12px;
    }
  }
}

.school-rating--no-points {
  flex-direction: row;
  align-items: center;
  gap: 11px;

  @include vp-767 {
    order: 1;
    gap: 10px;
  }

  .school-rating__stars {
    color: $color-turbo;
    font-size: 17px;

    @include vp-767 {
      font-size: 9px;
      letter-spacing: 3px;
    }
  }

  .school-rating__title {
    margin: 0;
    line-height: 19px;
    font-size: 16px;

    @include vp-767 {
      font-size: 11px;
    }
  }
}
