.slider-button {
  width: 22px;
  height: 22px;
  background-color: rgba($color: $color-default-white, $alpha: 0);
  border: none;
  color: $color-cerulean-blue;
  position: relative;
  z-index: 15;
  cursor: pointer;
  border-radius: 50%;
}

.slider-button:hover,
.slider-button:focus-visible {
  background-color: rgba($color: $color-default-white, $alpha: 1);
}

.slider-button:active {
  color: rgba($color: $color-cerulean-blue, $alpha: 0.7);
}

.slider-button:disabled {
  color: $color-mischka;
  background-color: rgba($color: $color-default-white, $alpha: 0);
  cursor: default;
}
