mixin achievements-tabs(achievementsTabsControlsContent,achievementsTabsContent)
  .tabs.achievements__tabs.no-transition-global.swiper.achievements__swiper(data-tabs='parent', data-delay='300', data-height='max')
    .tabs__controls(data-tabs='controls')
      each value in achievementsTabsControlsContent
        button.tabs__control.advantage.btn(type='button', data-tabs='control')
          +advantage(value)
    .tabs__content.achievements__tabs-content.swiper-wrapper(data-tabs='content')
        each value in achievementsTabsContent
          .swiper-slide.achievements__tabs-element.tabs__element(data-tabs='element')
            +advantagecard(value)
  .achievements__swiper-buttons-container.swiper-buttons-container
    .swiper-button-prev.achievements__swiper-button.achievements__swiper-button--prev
    .swiper-button-next.achievements__swiper-button.achievements__swiper-button--next
