mixin advantage(value)
    span.advantage__icon-wrapper
      svg(width="21" height="21" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg")
        use(xlink:href!="./img/sprite.svg#" + value.icon)
    span.advantage__text-wrapper
      span.advantage__title!= value.title
      span.advantage__description!= value.description


