mixin course-description(value)
  .course-description&attributes(attributes)
    p
      span Описание:
      |  !{value.description}
    p
      span Длительность:
      |  2 года
    p
      span Уровень сложности:
      |  2 года
