mixin list-item (options ={})
  - const text = options.text ? options.text : ""
  - const tag = options.tag ? options.tag : false
  li&attributes(attributes)
    if tag
      if tag === "a"
        - const href = options.href ? options.href : "#"
        #{tag}(href=href)!=text
      else
        #{tag}!=text
    else
      !=text
