mixin professions-list(data)
  .professions__swiper.swiper
    ul&attributes(attributes).professions__swiper-wrapper.swiper-wrapper
      each value in data
        li.professions__slide.swiper-slide
          a(href!=value.link)
            +profession-card(value)
    .professions__swiper-buttons-container.swiper-buttons-container
      .swiper-button-prev.professions__swiper-button.professions__swiper-button--prev
      .swiper-button-next.professions__swiper-button.professions__swiper-button--next
