mixin school-info()
  .school-info&attributes(attributes)
    .school-info__title-wrapper
      +img("svg", "skypro-logo", "svg", 64, 64, "Логотип Skypro.")
      span Skypro
    p Skypro - это стартап от Skyeng, крупнейшей школы английского в Европе. Курсы длятся от месяца до года. Есть и корпоративные программы - когда работодатель оплачивает обучение своим сотрудникам.

