.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 clamp(100px, $padding-desktop-large, 321px);

  @include vp-1919 {
    padding: 0 clamp(100px, $padding-desktop-medium, 250px);
  }

  @include vp-1299 {
    padding: 0 clamp(50px, $padding-desktop-small, 100px);
  }

  @include vp-1023 {
    padding: 0 clamp(30px, $padding-tablet, 100px);
  }

  @include vp-767 {
    padding: 0 clamp(20px, $padding-mobile, 45px);
  }
}
