// Colors
// ---------------------------------

$color-default-white: #FFFFFF;
$color-primary: #272733;
$color-secondary: #EDF2F4;
$color-danger: #E52421;
$color-outline-focus: #C5D1F7;
$color-disabled-text: #BFBFBF;
$color-disabled-background: #EFEFEF;