mixin header(headerMods, currentUrl)
  -
    const headerLinks = [{href: "index.html", text: "Главная"}, {href: "courses.html", text: "Курсы"}, {href: "course.html", text: "Блог"}]
    const headerDirections =[
      {
        title: "Дизайн",
        items: ["3D анимация", "Графический дизайн", "3D MAX", "Дизайн интерьеров", "3D моделирование", "Дизайн мобильных приложений", "AdobeAfter Effects", "Motion-дизайн", "Adobe illustrator", "Скетчинг", "Adobe Photoshop", "Типографика", "Отрисовка иллюстраций", "UX/UI дизайн", "Figma", "Создание и монтаж видео", "Геймдизайн", "Веб-дизайн"]
      },
      {
        title: "Программирование",
        items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]
      },
      {
        title: "Аналитика",
        items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]
      },
      {
        title: "Менеджмент",
        items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]
      },
      {
        title: "Маркетинг",
        items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]
      },
      {
        title: "Финансы",
        items: ["тестовый блок", "тестовый блок", "тестовый блок", "тестовый блок"]
      }
    ]
  header.header(class=headerMods)
    .container
      .header__wrapper
        if(currentUrl === "index.html")
          //- lighthouse снимает 10 баллов SEO за <a> без href
          .header__logo
            +icon("logo", 33, 39).header__logo-icon
            span.header__logo-text FindEdu
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +icon("logo", 33, 39).header__logo-icon
            span.header__logo-text FindEdu
        if (currentUrl === "index.html")
          a.header__link(href="courses.html")
            | Курсы
        if (currentUrl === "courses.html")
          button.header__toggle(type="button", aria-label="Переключатель отображения фильтра", aria-pressed="false", data-open-modal="filter")
            | Фильтры
        button.header__menu-toggle(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-open-modal="burger")
          +icon("burger-button", 22, 12)
        nav.main-nav
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
      +directions-menu(headerDirections, tag="a")(data-directions="menu", data-accordion="parent").accordion.header__directions-menu
