.appheader {
    background-color: $color-neutral-900;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-neutral-white;
    border-bottom: 1px solid $color-neutral-600;

    @media (max-width:991px) {
        padding: 14px 8px;
    }

    @media (max-width:991px) {
        padding: 0% 8px;
    }
}

.appheader__user-info {
    width: 100%;
}

.appheader__search {
    background-color: $color-neutral-700;
    padding: 7px 12px;
    border-radius: 6px;
    display: flex;
    gap: 12px;
    align-items: center;
    height: fit-content;

    @media (max-width:767px) {
        display: none;
    }
}

.appheader__search-input {
    background-color: transparent;
    border: none;
    @include fs(1418);
    padding: 0;
}