.red-text {
    color: $color-red;
}

.green-text {
    color: $color-green;
}

.perple-text {
    color: $color-perple;
}

.yellow-text {
    color: $color-yellow;
}

.blue-text {
    color: $color-brand-blue;
}

.white-text {
    color: $color-neutral-white;
}