//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-filter

//- Blocks

include ./blocks/intro
include ./blocks/blog
include ./blocks/reviews
include ./blocks/hero
include ./blocks/professions
include ./blocks/similar
include ./blocks/achievements
include ./blocks/hero

include ./blocks/filter
include ./blocks/coursessearch
include ./blocks/course-promo
include ./blocks/course-info


//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/custom-toggle-image

include ./mixins/review
include ./mixins/list-item
include ./mixins/nav-list
include ./mixins/directions-menu
include ./mixins/ordered-list
include ./mixins/list
include ./mixins/card-list
include ./mixins/card
include ./mixins/post
include ./mixins/professions-list
include ./mixins/professions-list-alternative
include ./mixins/profession-card
include ./mixins/course-advantages
include ./mixins/output
include ./mixins/advantage
include ./mixins/advantage-card
include ./mixins/achievements-tabs
include ./mixins/checkbox
include ./mixins/range-slider
include ./mixins/search-input
include ./mixins/school-rating
include ./mixins/course-advantages-filter
include ./mixins/course-price
include ./mixins/course-description
include ./mixins/course-programm
include ./mixins/school-rating-big
include ./mixins/school-info
include ./mixins/page-title
